/* MAIN STYLING */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    border: 5px solid goldenrod;
    padding: 0px 30px 30px 30px;
    width: 50%;
    text-align: center;
}
/* TEXT STYLING */

h1 {
    background-color: #006;
    color: #fff;
}

h2 {
    background-color: #006;
    color: #fff;
}

/* BUTTON STYLING */

#reset-btn {
    display: none;
}

button {
    font-size: 15pt;
}

/* FORM STYLING */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px;
    width: 45%;
    font-size: 15pt;
}

/* TABLE STYLES */

table {
    width: 100%;
    border-collapse:collapse;
    border: 1px solid #006;
    text-align: center;
}

th {
    border: 1px solid #006;
    border-collapse: collapse;
}

td {
    border: 1px solid #006;
    border-collapse: collapse;
}

thead th:nth-child(1) {
    width: 40px;
}

thead th:nth-child(2) {
    width: 50px;
}

thead th:nth-child(3) {
    width: 75px;
}

thead th:nth-child(4) {
    width: 50px;
}

thead th:nth-child(5) {
    width: 75px;
}

.over {
    background-color: lightpink;
    border: 1px solid darkred;
    color: darkred;
}

.under {
    background-color: lightgoldenrodyellow;
    border: 1px solid goldenrod;
    color: goldenrod;
}

.exact {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    color: darkgreen;
}

#num-range {
    width: 100%;
}

.error {
    border: 2px solid darkred;
}

#error-range {
    color: darkred;
}